<div class="contenedor">
  <div class="col-20 col-ca">
    <div class="set-container">
        <div class="set-icon">
            <a href="/maps"><img src="./assets/iconos/c_activa.png" class="tam-icon" alt=""></a>      
        </div>
        <div class="set-tit font-icon font-ca">
            CIUDAD ACTIVA
        </div>
        <div class="set-botones">
            <a href="./maps"> <div  class="buton cac">Proyectos</div></a>
            <a href="./programas"><div class="buton cac">Programas</div></a>
        </div>
        <div class="set-text">
            Una ciudad vibrante, donde los vecinos participan de la cultura, el deporte y las organizaciones locales a través de programas e insfraestructura construyendo identidad local.
        </div>
    </div>
</div>
  
  <div class="col-20 col-cm">
      <div class="set-container">
          <div class="set-icon">
              <a href="/maps"><img src="./assets/iconos/c_mar.png" class="tam-icon" alt=""></a>      
          </div>
          <div class="set-tit font-icon font-cm">
              CIUDAD DE MAR
          </div>
          <div class="set-botones">
              <a href="./maps"> <div  class="buton cdm">Proyectos</div></a>
              <a href="./programas"><div class="buton cdm">Programas</div></a>
          </div>
          <div class="set-text">
              Una ciudad vibrante, donde los vecinos participan de la cultura, el deporte y las organizaciones locales a través de programas e insfraestructura construyendo identidad local.
          </div>
        </div>
  </div>

  <div class="col-20 col-ci">
      <div class="set-container">
          <div class="set-icon">
              <a href="/maps"><img src="./assets/iconos/c_integrada.png" class="tam-icon" alt=""></a>      
          </div>
          <div class="set-tit font-icon font-ci">
              CIUDAD INTEGRADA
          </div>
          <div class="set-botones">
              <a href="./maps"> <div  class="buton cin">Proyectos</div></a>
              <a href="./programas"><div class="buton cin">Programas</div></a>
          </div>
          <div class="set-text">
              Una ciudad vibrante, donde los vecinos participan de la cultura, el deporte y las organizaciones locales a través de programas e insfraestructura construyendo identidad local.
          </div>
        </div>






    <!--div class="iconos">
      <a href="/maps"><img src="./assets/iconos/c_integrada.png" class="tam-icon" alt=""></a>
      <br> <span class="font-icon font-ci">CIUDAD INTEGRADA</span>  
    </div-->
  </div>
  <div class="col-20 col-cs">

      <div class="set-container">
          <div class="set-icon">
              <a href="/maps"><img src="./assets/iconos/c_sustentable.png" class="tam-icon" alt=""></a>      
          </div>
          <div class="set-tit font-icon font-cs">
              CIUDAD SUSTENTABLE
          </div>
          <div class="set-botones">
              <a href="./maps"> <div  class="buton csus">Proyectos</div></a>
              <a href="./programas"><div class="buton csus">Programas</div></a>
          </div>
          <div class="set-text">
              Una ciudad vibrante, donde los vecinos participan de la cultura, el deporte y las organizaciones locales a través de programas e insfraestructura construyendo identidad local.
          </div>
        </div>

    <!--div class="iconos">
      <a href="/maps"><img src="./assets/iconos/c_sustentable.png" class="tam-icon" alt=""></a>
      <br> <span class="font-icon font-cs">CIUDAD SUSTENTABLE</span>  
    </div-->
  </div>
  <div class="col-20 col-cb">


      <div class="set-container">
          <div class="set-icon">
              <a href="/maps"><img src="./assets/iconos/c_barrios.png" class="tam-icon" alt=""></a>      
          </div>
          <div class="set-tit font-icon font-cb">
              CIUDAD DE BARRIOS
          </div>
          <div class="set-botones">
              <a href="./maps"> <div  class="buton cdb">Proyectos</div></a>
              <a href="./programas"><div class="buton cdb">Programas</div></a>
          </div>
          <div class="set-text">
              Una ciudad vibrante, donde los vecinos participan de la cultura, el deporte y las organizaciones locales a través de programas e insfraestructura construyendo identidad local.
          </div>
        </div>


    <!--div class="iconos">
      <a href="/maps"> <img src="./assets/iconos/c_barrios.png" class="tam-icon" alt=""></a>
      <br> <span class="font-icon font-cb">CIUDAD BARRIOS</span>  
    </div-->
  </div>
</div>
<div class="wrap">
  <div class="row">
    <div class="col-sm-12 tit-tablon">
      
    </div>
  </div>
 
</div>