<div class="contenedor">
  <div class="col-20 col-ca">
    <div class="set-container">
        <div class="set-icon">
            <a href="/maps"><img src="./assets/iconos2/CA.png" class="tam-icon" alt=""></a>      
        </div>
        <div class="set-botones">
            <div  class="buton cac" routerLink='/maps'>Proyectos</div>
            <div class="buton cac" routerLink='/programas'>Programas</div>
        </div>
        <div class="set-text">
            Una ciudad vibrante, donde los vecinos participan de la cultura, el deporte y las organizaciones locales a través de programas e insfraestructura construyendo identidad local.
        </div>
    </div>
</div>
  
  <div class="col-20 col-cm">
      <div class="set-container">
          <div class="set-icon">
              <a href="/maps"><img src="./assets/iconos2/CM.png" class="tam-icon" alt=""></a>      
          </div>
          <div class="set-botones">
              <div  class="buton cdm" routerLink='/maps'>Proyectos</div>
              <div class="buton cdm" routerLink='/programas'>Programas</div>
          </div>
          <div class="set-text">
              Una ciudad vibrante, donde los vecinos participan de la cultura, el deporte y las organizaciones locales a través de programas e insfraestructura construyendo identidad local.
          </div>
        </div>
  </div>

  <div class="col-20 col-ci">
      <div class="set-container">
          <div class="set-icon">
              <a href="/maps"><img src="./assets/iconos2/CI.png" class="tam-icon" alt=""></a>      
          </div>
          <div class="set-botones">
             <div  class="buton cin" routerLink='/maps'>Proyectos</div>
            <div class="buton cin" routerLink='/programas'>Programas</div>
          </div>
          <div class="set-text">
              Una ciudad vibrante, donde los vecinos participan de la cultura, el deporte y las organizaciones locales a través de programas e insfraestructura construyendo identidad local.
          </div>
        </div>






    <!--div class="iconos">
      <a href="/maps"><img src="./assets/iconos/c_integrada.png" class="tam-icon" alt=""></a>
      <br> <span class="font-icon font-ci">CIUDAD INTEGRADA</span>  
    </div-->
  </div>
  <div class="col-20 col-cs">

      <div class="set-container">
          <div class="set-icon">
              <a href="/maps"><img src="./assets/iconos2/CS.png" class="tam-icon" alt=""></a>      
          </div>
          <div class="set-botones">
              <div  class="buton csus" routerLink='/maps'>Proyectos</div>
              <div class="buton csus" routerLink='/programas'>Programas</div>
          </div>
          <div class="set-text">
              Una ciudad vibrante, donde los vecinos participan de la cultura, el deporte y las organizaciones locales a través de programas e insfraestructura construyendo identidad local.
          </div>
        </div>

    <!--div class="iconos">
      <a href="/maps"><img src="./assets/iconos/c_sustentable.png" class="tam-icon" alt=""></a>
      <br> <span class="font-icon font-cs">CIUDAD SUSTENTABLE</span>  
    </div-->
  </div>
  <div class="col-20 col-cb">


      <div class="set-container">
          <div class="set-icon">
              <a href="/maps"><img src="./assets/iconos2/CB.png" class="tam-icon" alt=""></a>      
          </div>

          <div class="set-botones">
              <div  class="buton cdb" routerLink='/maps'>Proyectos</div>
              <div class="buton cdb" routerLink='/programas'>Programas</div>
          </div>
          <div class="set-text">
              Una ciudad vibrante, donde los vecinos participan de la cultura, el deporte y las organizaciones locales a través de programas e insfraestructura construyendo identidad local.
          </div>
        </div>


    <!--div class="iconos">
      <a href="/maps"> <img src="./assets/iconos/c_barrios.png" class="tam-icon" alt=""></a>
      <br> <span class="font-icon font-cb">CIUDAD BARRIOS</span>  
    </div-->
  </div>
</div>
<div class="wrap">
  <div class="row">
    <div class="col-sm-12 tit-tablon">
      
    </div>
  </div>
 
</div>